<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://xmlns.jcp.org/xml/ns/javaee">

  <scan>
    <!-- These exclusions were added by Errai to avoid deploying client-side classes to the server -->
    <exclude name = "demo.client.local.builtin.Util" />
    <exclude name = "demo.client.local.builtin.FlowSelection" />
    <exclude name = "demo.client.local.builtin.FlowPage$1" />
    <exclude name = "demo.client.local.builtin.MainPage" />
    <exclude name = "demo.client.local.builtin.FlowPage$2" />
    <exclude name = "demo.client.local.builtin.FlowPage" />
    <!-- End of Errai exclusions -->
  </scan>
</beans>
